@media (max-width: 1200px) {
    .join .about img {width:60%;}
    .join .intro button {left:42.5%;}
    .home .video .bg-search, 
    .home .video .search-box {width: 55%; left:20%;}

    .home .more-info .topic {font-size: 25px;}

    .container,
    .doctor-profile.container,
    .patient.container,
    .search.container,
    .setting.container,
    .home.container,
    .join.container,
    .appoint.container {width: 100%; padding: 4% 2%;}

    .home .more.container {padding:2%;}
    .sub.container {padding: 0 0 0 25px;}

    
}

@media (max-width: 1015px) {
    .join .about img {width:65%;}
    .join .intro button {left:41%;}
    .search-box .topic {font-size: 28px;}

    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 5.5%;}
    .setting .body-setting .content {width: 80%;}


}

@media (max-width: 992px) {
    .home .video .bg-search, .home .video .search-box {width: 65%; left:18%; height: 165px;}
    .patient .col-md-2 {width: 20%; float: left;}
    .patient .col-md-8 {width: 60%; float: left;}

    .doctor-profile .col-md-4 {width: 30%; float: left;}
    .doctor-profile .col-md-8 {width: 70%; float: left;}
    .doctor-profile .col-md-8 p {font-size: 16px;}

   /* .doctor-profile .overview {width: 69%;}
    .doctor-profile .map {width: 30%;}*/

    .search .map {display: none;}

    .join .intro .col-md-6 {width: 30%; float: left;}
    .join .about img {width:70%;}
    .join .intro h1 {font-size: 30px;}
    .join .intro p {font-size: 20px;}

    .join .partner .topic {font-size: 24px;}

    .join .infomation .topic {font-size: 20px;}
    .join .infomation p {font-size: 18px;}
    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 5%;}
}


@media (max-width: 900px) {
    .home .search-box .topic {font-size: 26px; }
    .home .video {height: 70%;}
    .home .more-info .topic {
        font-size: 24px;
        margin:2% 0 1% 0;
    }
    .join .about img {width:80%;}
    .join .intro button {left:41%;}
    .join .partner, .join .intro {padding: 5% 0;}

    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 1.6% 6.8%;}

    .appoint .appointment,
    .appoint .doctor {float: none; width: 100%;}
    .appoint .doctor .col-md-5 {width: 20%; float: left;}
    .appoint .doctor .col-md-7 {width: 30%; float: left;}
    .appoint .doctor .col-md-12 {width: 50%; float: left;}

    .home .more.container {padding: 5% 2%;}
    .doctor-profile .nav-pills > li a {font-size: 16px;}

}

@media (max-width: 850px) {
    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 6.4%;}
    .join .intro button {font-size: 18px; left:41%;}
    .join .intro h1 {font-size: 26px;}
    .join .infomation p {font-size: 16px;}

    .join .infomation .topic,
    .join .intro p {font-size: 19px;}
    
    
    .doctor-profile .overview {width: 100%;}
    .doctor-profile .col-md-4 {width: 35%;} 
    .doctor-profile .col-md-8 {width: 65%;}
    .doctor-profile .profile-overview .map {width: 100%;}

    .doctor-profile .content,
    .doctor-profile .booking {float: none; width: 100%;}
}

@media (max-width: 767px) {
    .home .video .bg-search, .home .video .search-box {
        width: 75%; 
        left: 12%; 
        height: 155px;
    }

    .home .search-box .topic {font-size: 24px;}
    .home .video {height: 60%;}


    .home .doctor .choice p {display: none;}
    .home .doctor .choice .topic {display: block; font-size: 18px;}

    .home .more-info p {font-size: 18px;}
    .home .more-info .topic {font-size: 22px;}

    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 6%;}
    .join .intro {padding: 6% 0;}
    .join .intro p {line-height: 150%;}
    .join .intro h1 {font-size: 26px; padding-bottom: 2%;}
    .join .intro button {left:39%;}

    .setting .date select {float: left; margin-right: 2%;}

    .setting .body-setting .content {width: 100%;}

    .form-inline .form-control {display: inline-block;}
}

@media (max-width: 690px) {
    .sub-header p {font-size: 18px;}

    .home .more-info {height: 300px;}

    .appoint .appointment .col-md-12, .appoint .appointment .col-md-6 {padding:0 0 0 4%}
    .home .video .search-box p {font-size: 16px;}
    .home .video .search-box .topic {font-size: 22px;}

    .join .intro h1 {font-size: 24px;}
    .join .infomation .topic, .join .intro p {font-size: 18px;}
    .join .about img {width: 90%;}
    .join .partner .row {margin: 0px;}
    .join .partner .partner-left, .join .partner .partner-right {padding: 0 2%;}

    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 5.5%;}
    .join .partner p {font-size: 17px;}

    .patient .col-md-8 {width: 70%; padding-right: 0px;}
    .patient .col-md-2 {width: 30%;}
    .patient .button {width: 100%;}
    .patient .button button {width: 24%; padding:1.8%; margin:1% 5%; float: right;}
}

@media (max-width: 607px) {
    .home .more-info {height: 280px;}
    .header img {width: 120px;}
    .home .video .bg-search, .home .video .search-box {
        width: 100%; 
        left: 0%; 
        bottom:0%;
        padding: 1px 2% 1px 2%;
        height: 140px;
    }
    .header .login > li, .header .login p {width: 90px;}
    .header a {font-size: 16px;}

    
    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 5%;}
    .home .video {height: 55%;}
    

    .search .table .image {width: 35%}
    .search .table .infomation {width: 65%;}
    .search .table .day {width: 0px;}

    .join .infomation p {font-size: 15px;}
    .join .row {padding: 0 4%;}
    .join .partner .partner-left, .join .partner .partner-right {width: 100%;}
    .join .intro button {left:38%;}

    .patient .nav-pills li {font-size: 16px;}

    .modal-content p {font-size: 15px;}
}

@media (max-width: 540px) {
    .home .more-info {height: 250px;}
    .appoint .appointment .col-md-12, .appoint .appointment .col-md-6 {padding:0 0 0 2%}
    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 4.5%;}

    .home .video {height: 50%;}
    .home .more {padding-top: 35px;}
    .home .doctor {padding: 4% 0;}

    .join .infomation {width: 100%;}
    .join .partner .row {padding: 0px;}
    .join .about img {width: 100%;}
    .join .intro h1 {font-size: 22px;}
    .join .intro p,
    .join .partner p {font-size: 16px;}
    .join .intro span {display: block;}
    .join .about img {width: 95%;}
    .join .intro button {left:37%;}

    .appoint .doctor .col-md-5 {width: 35%; float: left;}
    .appoint .doctor .col-md-7 {width: 65%; float: left;}
    .appoint .doctor .col-md-12 {width: 100%; margin-top: 5%;}
    .appoint .appointment .content p {font-size: 17px;}

    .doctor-profile .col-md-8,
    .doctor-profile .col-md-4 {width: 100%; text-align: center;}
    .doctor-profile .col-md-4 img {width: 50%;}
    .doctor-profile .tab-content p {font-size: 15px;}
    .rating {text-align: center;}

    .patient .col-md-8 {width: 100%; padding-top:10px;}
    .patient .col-md-2 {width: 100%;}
    .patient .col-md-2 img {width: 40%;}
    .patient .button {width: 100%;}
    .patient .button button {width: 40%; float: right;}
    
    .patient .nav-pills li {font-size: 15px;}
}

@media (max-width: 480px) {
    .header .login > li, .header .login p {width: 80px;}
    .header a {font-size: 15px;}
    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 4%;}


    .home .more-info p {font-size: 16px;}
    .home .more-info .topic {font-size: 20px;}
    .home .doctor .choice .topic {font-size: 17px;}
    

    .home .video .search-box p {font-size: 14px;}
    .home .video .search-box .topic {font-size: 18px;}

    .join .intro {padding: 7% 0;}
    .join .intro button {left:34%;}
    .nav > li > a {padding: 8px;}

    .search .search-box p {font-size: 15px;}
    .patient .patient-list {font-size: 14px;}
    .patient .tab-content .head {font-size: 16px;}
}

@media (max-width: 438px) {
    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 3.6%;}
    .search .search-box input[type="text"] {width: 44%;}
}
@media (max-width: 418px) {
    .breadcrumbs-alt li.current, .breadcrumbs-alt li {padding: 2% 3.3%;}
    .home .more-info p {font-size: 15px;}
    .join .intro button {left:32%;}

    .search-box input[type="text"] {width: 38%;}
} 






